$sun: #F2BD1D;
$bestOrrange: #D93D04;
$H-bg: #02735E;
$buz:#0D1A26;
$buz-h:#3D9DF2;
$main-b:#0F5959;
$h1-C: #F0F1F2;
$dark: #172026;
$p-p: #196774;
$hov: #042326;
$sld: #0A3A40;
$blackish: #0d0d0d71;
$smoke: #D7D7D9;
$red-one:#A60303;
$y-yellow: #D9A404;
$b-button: #007BFF;
$c-button:#FFFFFF;
$h-button: #0056B3;
$paragrph: #f3f715;
$tit: #1677ff;
$blacktitle: #0D0D0D;