@import '../../color.scss';

.main_container{
    background-color: $main-b;
    height: 360vh;
}

.container{
    background-color: $main-b;

    h2{
        text-align: center;
        margin-bottom: 20px;
        color: $blacktitle;

        &:hover{
            cursor: pointer;
        }
    }

    p{
        text-align: center;
        background-color: $sun;
        border: 1px solid $h1-C;
        border-radius: 8px;
        width: 1300px;
        margin: auto;
        color: $blacktitle;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 10px;
    }
}