@import '../../color.scss';

.ganres{
    width: 500px;
    height: 250px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 8px;
    padding: 5px;
    background-color: $H-bg;
    background-image: linear-gradient($H-bg, $dark);
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;

    h2{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.507);
        padding: 5px;
        border-radius: 8px;
    }

    p{
        padding-top: 10px;
        color: $y-yellow;
        height: 200px;
        text-align: center;
    }
}

.link{
    color: $sun;

    &:hover{
        color: $sun;
        text-decoration: underline;
    }
}