@import '../../color.scss';

.main_container{
    height: 100%;
    background-color: $main-b;
}

.container {
    height: 100%;
    background-color: $main-b;
    margin: 0 30px 0px 30px;
    
    h2{
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        color: $blacktitle;
    }

    h4{
        margin-top: 5px;
        font-size: 22px;
    }

    p{
        color: $sun;
        font-size: 18px;
        padding-bottom: 15px;
    }
}

.border{
    border-bottom: 1px solid $bestOrrange;
}